<div class="col-md-12 text-center">
  <h1>Private Events</h1>
  <br /><br />
  <%= link_to "Sign up!", signup_path, class: "btn btn-primary" %>
  <br /><br />
  <%= link_to "Log in!", login_path, class: "btn btn-success" %>
</div>
